/* .sidebar{
    background-color: yellow;
} */

.list{
    /* list-style-position: inside; */
    border: 1px solid navy;
    margin: 10% auto;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
    width: 80%;
}

.list a{
    width: 100%;
    display: inline-block;
}

.list:active{
    background-color: navy;
    color: white;
}


@media screen and (hover:hover){
    .list:hover{
        background-color: navy;
        color: white;
    }
}