:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
   --color: white;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
  font-family: var( --font-mono);
}

body {
  background: white;
}


a {
  color: inherit;
  text-decoration: none;
}

button{
  cursor: pointer;
}

button:disabled{
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

hr{
  border: 2px solid navy;
  width: 100%;
}

@media screen and (max-width:200px){
  h1{
    font-size: 0.9rem;
  }
}

@media screen and (max-width:140px){
main *{
    overflow: scroll;
  }
}

.ql-editor.ql-blank::before {
  color: navy;
  content: attr(data-placeholder);
  font-style: italic;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

@media screen and (min-width:400px) and (hover:hover){

  ::-webkit-scrollbar{
  border-radius: 12px;
  background-color: white;
  border-right: 2px solid navy;
  border-left: 1px solid navy;
  cursor: pointer;
  }

  ::-webkit-scrollbar-thumb{
      border-radius: 12px;
      border: 2px solid navy;
  }

  ::-webkit-scrollbar-button:vertical:start{
      border-radius:12px 12px 0 0px;
      border: 2px solid navy;
  }

  ::-webkit-scrollbar-button:vertical:end{
      border-radius:0 0 12px 12px;
      border: 2px solid navy;
  }

  ::-webkit-scrollbar-button:vertical:start:hover,
  ::-webkit-scrollbar-button:vertical:end:hover,
  ::-webkit-scrollbar-thumb:hover{
      background-color: navy;
  }
  
  ::-webkit-scrollbar-button:vertical:start:increment,
  ::-webkit-scrollbar-button:vertical:end:decrement
      {
      display: none;
  }

}

@media screen and (hover: hover){
    ::-webkit-scrollbar{
    background-color: white;
    height: 15px;
    border-top: 1px solid navy;
    border-bottom: 1px solid navy;
    }
    
    ::-webkit-scrollbar-thumb{
        /* background-color:; */
        border-radius: 12px;
        border: 2px solid navy;
    }

    ::-webkit-scrollbar-button:horizontal:start{
        /* background-color:lightblue; */
        border-radius:12px 0 0 12px;
        border: 2px solid navy;
    }

    ::-webkit-scrollbar-button:horizontal:end{
        /* background-color: lightblue; */
        border-radius:0 12px 12px 0;
        border: 2px solid navy;
    }

    ::-webkit-scrollbar-button:horizontal:start:hover,
    ::-webkit-scrollbar-button:horizontal:end:hover,
    ::-webkit-scrollbar-thumb:hover{
        background-color: navy;
    }
    
    ::-webkit-scrollbar-button:horizontal:start:increment,
    ::-webkit-scrollbar-button:horizontal:end:decrement
        {
        display: none;
    }

}